<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="public/main.css" />
    <title>RandTime</title>
  </head>
  <body>
    <main>
      <div id="root"></div>
    </main>
    <input hidden="true" value="{{time_str}}" id="time-input" />
    <script src="public/time.js"></script>
  </body>
</html>
